# **LIST**

## Empty list

In [1]:
list_emp = []
print(type(list_emp))

<class 'list'>

## List with elements of ***different data type***

In [2]:
list1 = ["Hello", 1, 3.2, [2, '10']]
print(list1)

['Hello', 1, 3.2, [2, '10']]

## List are ordered     -->Accessed by index

In [11]:
print(len(list1))

4

### Index

In [12]:
print(type(list1[0]))
print(type(list1[1]))
print(type(list1[2]))
print(type(list1[3]))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>

In [8]:
list2 = [2, 2, 'hello', 'hello']
print(list2)

[2, 2, 'hello', 'hello']

### Index Negative

In [14]:
print(list1[-1])
print(list1[-2])

[2, '10']
3.2

### Index Error

In [15]:
print(list1[4])

IndexError: list index out of range

## List Are Changeable --> Using method **Add**, **Change**, **Remove**

### Change  Value

In [19]:
list1[0] = 10
print(list1)

In [20]:
list1[-2] = 5
print(list1)

[10, 1, 3.2, [2, '10']]

### Add Value

In [49]:
list3 = [1, 2, 'a']

In [50]:
list3.append(1)

In [51]:
list3

[1, 2, 'a', 1]

In [41]:
# Using append() method to add value to the  end of list
list3 = [1, 2, 'a']
list3.append(2)
print(list3)

# Using insert() method to add value to the any position of list
list3.insert(0, 100)  #(index, value)
print(list3)

list4 = [10, 'b', 'Python']
list4.insert(-1, 20)
print(list4)

[1, 2, 'a', 2]
[100, 1, 2, 'a', 2]
[10, 'b', 20, 'Python']

In [42]:
list4

[10, 'b', 20, 'Python']

In [43]:
# Note
list4.insert(20, 100)   #Out of Index -> add value to start/end index
print(list4)

[10, 'b', 20, 'Python', 100]

In [44]:
print(list3)
print(list4)

[100, 1, 2, 'a', 2]
[10, 'b', 20, 'Python', 100]

In [58]:
# Difference between append() and extend() method
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list1.extend(['1'])
print(list1)
list2.append(['1'])
print(list2)

[1, 2, 3, '1']
[1, 2, 3, ['1']]

### Remove Value

In [70]:
# Using pop() method to delete index of list and return value deleted
list5 = [1, 10, 100, 'a']
value_dele = list5.pop(1)
print(value_dele)
print(list5)

list5.pop()  # delete index end

# # Index Error
# list5.pop(10)

10
[1, 100, 'a']

'a'

In [67]:
# Using remove() method to delete value of list
list6 = ['a', 'b', 2, 5, 7]
list6.remove('a')       #don't return value
print(list6)


# # If value isn't exist return error
# list6.remove(10)

['b', 2, 5, 7]
[]

In [ ]:
# Using clear() method to delete all value of list
list6.clear()
print(list6)

[3, 4, 5]
[3, 4, 5]
[4, 5, 'a', 'b', 'c']
[1, 2, 3, 4, 5, 'a', 'b', 'c']
[5, 'a']
[3, 2, 1]
[1, 8, 9, 4, 5]
[1, 8, 4, 5]

## List is Iterable

In [78]:
list_a = [1, 2, 'a', 2.3, 4, 5, 'b']
# print(len(list_a))

# Method1:
for i in range(len(list_a)):
    print(list_a[i], end = ' ')

print()

# Method2:
for x in list_a:
    print(x, end = ', ')

1 2 a 2.3 4 5 b
1, 2, a, 2.3, 4, 5, b,

## List Other Method

In [ ]:
# Copy List
a = [1, 2, 5]
b = a * 2
print(b)

c = [0]
d = c * 100
print(len(d))

# Count Value of List
count_1 = b.count(1)
print(count_1)



# Find the index of value
pos = b.index(5)
print(pos)

# Reverse the list
a.reverse()
print(a)

# Sort the list
b.sort()
print(b)

[1, 2, 5, 1, 2, 5]
2
2
[5, 2, 1]
[1, 1, 2, 2, 5, 5]
None